<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_aje-MLUJEeaStYfdi17Bvw" specification="interface sensor:&#xA;&#x9;operation is_done_calibrating() : bool&#xA;&#x9;operation is_done_configuring() : bool&#xA;&#x9;in event near_threshold_breach&#xA;&#x9;operation on_start_configuration() : void&#xA;&#x9;operation on_done_configuration() : void&#xA;&#x9;operation on_start_calibration() : void&#xA;&#x9;&#xA;interface vl6180:&#xA;&#x9;operation is_fresh_out_of_reset() : bool&#xA;&#x9;operation did_reset_interrupt() : bool&#xA;&#x9;operation is_ready() : bool&#xA;&#x9;var config_memo : uint32_t = 0" name="vl6180_state_irq" domainID="com.yakindu.domain.c">
    <regions xmi:id="_aj2xoLUJEeaStYfdi17Bvw" name="main region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_akSPcLUJEeaStYfdi17Bvw">
        <outgoingTransitions xmi:id="_akY9ILUJEeaStYfdi17Bvw" target="_akUEoLUJEeaStYfdi17Bvw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_akUEoLUJEeaStYfdi17Bvw" name="booting" incomingTransitions="_akY9ILUJEeaStYfdi17Bvw">
        <outgoingTransitions xmi:id="_y16AQLUJEeaStYfdi17Bvw" specification="[vl6180.is_fresh_out_of_reset()]" target="_pL2VwLUJEeaStYfdi17Bvw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_pL2VwLUJEeaStYfdi17Bvw" specification="exit/sensor.on_done_configuration()" name="initializing" incomingTransitions="_y16AQLUJEeaStYfdi17Bvw">
        <outgoingTransitions xmi:id="_9jAKMLULEeaStYfdi17Bvw" specification="" target="_s4HhQLULEeaStYfdi17Bvw"/>
        <regions xmi:id="_pL5ZELUJEeaStYfdi17Bvw" name="default">
          <vertices xsi:type="sgraph:State" xmi:id="_kErMQLXoEeaStYfdi17Bvw" name="not_ready_to_configure" incomingTransitions="_meLaQLXoEeaStYfdi17Bvw">
            <outgoingTransitions xmi:id="_wzpZQLXoEeaStYfdi17Bvw" specification="[vl6180.is_ready()]" target="_qSNvwLXsEeaStYfdi17Bvw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_JtPJALXpEeaStYfdi17Bvw">
            <outgoingTransitions xmi:id="_Y6uxcLXqEeaStYfdi17Bvw" specification="" target="_yXAFkLXsEeaStYfdi17Bvw"/>
          </vertices>
          <vertices xsi:type="sgraph:Exit" xmi:id="_qSMhy7XsEeaStYfdi17Bvw" incomingTransitions="_qSNIsrXsEeaStYfdi17Bvw"/>
          <vertices xsi:type="sgraph:State" xmi:id="_qSMhzLXsEeaStYfdi17Bvw" specification="entry/sensor.on_start_calibration()" name="calibrating" incomingTransitions="_qSNvw7XsEeaStYfdi17Bvw _djgPMLXxEeaStYfdi17Bvw">
            <outgoingTransitions xmi:id="_qSNIsrXsEeaStYfdi17Bvw" specification="[sensor.is_done_calibrating()]" target="_qSMhy7XsEeaStYfdi17Bvw"/>
            <outgoingTransitions xmi:id="_Z4AN0LXxEeaStYfdi17Bvw" specification="[!vl6180.is_ready()]" target="_WVko4LXxEeaStYfdi17Bvw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_qSNvwLXsEeaStYfdi17Bvw" name="configuring" incomingTransitions="_wzpZQLXoEeaStYfdi17Bvw _2VX_oLXsEeaStYfdi17Bvw">
            <outgoingTransitions xmi:id="_qSNvw7XsEeaStYfdi17Bvw" specification="[sensor.is_done_configuring()]" target="_qSMhzLXsEeaStYfdi17Bvw"/>
            <outgoingTransitions xmi:id="_meLaQLXoEeaStYfdi17Bvw" specification="[!vl6180.is_ready()]" target="_kErMQLXoEeaStYfdi17Bvw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_yXAFkLXsEeaStYfdi17Bvw" specification="entry/sensor.on_start_configuration()" name="starting_configuration" incomingTransitions="_Y6uxcLXqEeaStYfdi17Bvw">
            <outgoingTransitions xmi:id="_2VX_oLXsEeaStYfdi17Bvw" specification="oncycle" target="_qSNvwLXsEeaStYfdi17Bvw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_WVko4LXxEeaStYfdi17Bvw" name="not_ready_to_calibrate" incomingTransitions="_Z4AN0LXxEeaStYfdi17Bvw">
            <outgoingTransitions xmi:id="_djgPMLXxEeaStYfdi17Bvw" specification="[vl6180.is_ready()]" target="_qSMhzLXsEeaStYfdi17Bvw"/>
          </vertices>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_s4HhQLULEeaStYfdi17Bvw" name="running" incomingTransitions="_9jAKMLULEeaStYfdi17Bvw">
        <regions xmi:id="_s4IIUbULEeaStYfdi17Bvw" name="default">
          <vertices xsi:type="sgraph:State" xmi:id="_N1-CYLUMEeaStYfdi17Bvw" name="sleeping" incomingTransitions="_QhaU8LUMEeaStYfdi17Bvw _IBhiELUNEeaStYfdi17Bvw">
            <outgoingTransitions xmi:id="_eCpFULUMEeaStYfdi17Bvw" specification="sensor.near_threshold_breach" target="_X1zIkLUMEeaStYfdi17Bvw"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_Pw9IYLUMEeaStYfdi17Bvw">
            <outgoingTransitions xmi:id="_QhaU8LUMEeaStYfdi17Bvw" specification="" target="_N1-CYLUMEeaStYfdi17Bvw"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_X1zIkLUMEeaStYfdi17Bvw" name="object_detected" incomingTransitions="_eCpFULUMEeaStYfdi17Bvw">
            <outgoingTransitions xmi:id="_IBhiELUNEeaStYfdi17Bvw" specification="[vl6180.did_reset_interrupt()]" target="_N1-CYLUMEeaStYfdi17Bvw"/>
          </vertices>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_aj2KkLUJEeaStYfdi17Bvw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_aje-MLUJEeaStYfdi17Bvw" measurementUnit="Pixel">
    <children xmi:id="_aj8RMLUJEeaStYfdi17Bvw" type="Region" element="_aj2xoLUJEeaStYfdi17Bvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_akPMILUJEeaStYfdi17Bvw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_akPMIbUJEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_akPMIrUJEeaStYfdi17Bvw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_akQaQLUJEeaStYfdi17Bvw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_akSPcbUJEeaStYfdi17Bvw" type="Entry" element="_akSPcLUJEeaStYfdi17Bvw">
          <children xmi:id="_akS2gLUJEeaStYfdi17Bvw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_akS2g7UJEeaStYfdi17Bvw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_akS2hLUJEeaStYfdi17Bvw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_akS2hbUJEeaStYfdi17Bvw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_akS2gbUJEeaStYfdi17Bvw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_akS2grUJEeaStYfdi17Bvw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_akSPcrUJEeaStYfdi17Bvw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_akSPc7UJEeaStYfdi17Bvw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_akTdkLUJEeaStYfdi17Bvw" x="17" y="58" width="15" height="15"/>
        </children>
        <children xmi:id="_akV50LUJEeaStYfdi17Bvw" type="State" element="_akUEoLUJEeaStYfdi17Bvw">
          <children xsi:type="notation:DecorationNode" xmi:id="_akV51LUJEeaStYfdi17Bvw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_akV51bUJEeaStYfdi17Bvw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_akV51rUJEeaStYfdi17Bvw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_akXH8LUJEeaStYfdi17Bvw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_akXvALUJEeaStYfdi17Bvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_akXvAbUJEeaStYfdi17Bvw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_akXvArUJEeaStYfdi17Bvw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_akV50bUJEeaStYfdi17Bvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_akV50rUJEeaStYfdi17Bvw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_akYWELUJEeaStYfdi17Bvw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_akYWEbUJEeaStYfdi17Bvw" x="40" y="80" width="51" height="53"/>
        </children>
        <children xmi:id="_pL71ULUJEeaStYfdi17Bvw" type="State" element="_pL2VwLUJEeaStYfdi17Bvw">
          <children xsi:type="notation:DecorationNode" xmi:id="_pL8cYLUJEeaStYfdi17Bvw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_pL8cYbUJEeaStYfdi17Bvw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_pL8cYrUJEeaStYfdi17Bvw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pL8cY7UJEeaStYfdi17Bvw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_pL8cZLUJEeaStYfdi17Bvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pL8cZbUJEeaStYfdi17Bvw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_pL8cZrUJEeaStYfdi17Bvw" type="StateFigureCompartment">
            <children xmi:id="_vFu9cLUNEeaStYfdi17Bvw" type="Region" element="_pL5ZELUJEeaStYfdi17Bvw">
              <children xsi:type="notation:DecorationNode" xmi:id="_vFu9cbUNEeaStYfdi17Bvw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_vFu9crUNEeaStYfdi17Bvw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_vFu9c7UNEeaStYfdi17Bvw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_vFu9dLUNEeaStYfdi17Bvw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_kEwEwLXoEeaStYfdi17Bvw" type="State" element="_kErMQLXoEeaStYfdi17Bvw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_kExS4LXoEeaStYfdi17Bvw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_kExS4bXoEeaStYfdi17Bvw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_kExS4rXoEeaStYfdi17Bvw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_kExS47XoEeaStYfdi17Bvw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_kExS5LXoEeaStYfdi17Bvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kExS5bXoEeaStYfdi17Bvw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_kExS5rXoEeaStYfdi17Bvw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_kEwEwbXoEeaStYfdi17Bvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_kEwEwrXoEeaStYfdi17Bvw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_kExS57XoEeaStYfdi17Bvw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kEwEw7XoEeaStYfdi17Bvw" x="381" y="87" width="132" height="105"/>
                </children>
                <children xmi:id="_JtPJAbXpEeaStYfdi17Bvw" type="Entry" element="_JtPJALXpEeaStYfdi17Bvw">
                  <children xmi:id="_JtPJBbXpEeaStYfdi17Bvw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_JtPJCLXpEeaStYfdi17Bvw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_JtPJCbXpEeaStYfdi17Bvw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_JtPJCrXpEeaStYfdi17Bvw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_JtPJBrXpEeaStYfdi17Bvw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JtPJB7XpEeaStYfdi17Bvw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_JtPJArXpEeaStYfdi17Bvw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_JtPJA7XpEeaStYfdi17Bvw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_JtPJBLXpEeaStYfdi17Bvw" x="246" y="-15" width="15" height="15"/>
                </children>
                <children xmi:id="_qSMhoLXsEeaStYfdi17Bvw" type="Exit" element="_qSMhy7XsEeaStYfdi17Bvw">
                  <children xmi:id="_qSMhobXsEeaStYfdi17Bvw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_qSMhorXsEeaStYfdi17Bvw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_qSMho7XsEeaStYfdi17Bvw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_qSMhpLXsEeaStYfdi17Bvw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_qSMhpbXsEeaStYfdi17Bvw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qSMhprXsEeaStYfdi17Bvw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_qSMhp7XsEeaStYfdi17Bvw" fontName="Verdana" lineColor="4210752"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qSMhqLXsEeaStYfdi17Bvw" x="112" y="355"/>
                </children>
                <children xmi:id="_qSMhqbXsEeaStYfdi17Bvw" type="State" element="_qSMhzLXsEeaStYfdi17Bvw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_qSMhqrXsEeaStYfdi17Bvw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_qSMhq7XsEeaStYfdi17Bvw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_qSMhrLXsEeaStYfdi17Bvw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qSMhrbXsEeaStYfdi17Bvw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_qSMhrrXsEeaStYfdi17Bvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qSMhr7XsEeaStYfdi17Bvw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qSMhsLXsEeaStYfdi17Bvw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_qSMhsbXsEeaStYfdi17Bvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_qSMhsrXsEeaStYfdi17Bvw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qSMhs7XsEeaStYfdi17Bvw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qSMhtLXsEeaStYfdi17Bvw" x="23" y="231" width="199" height="96"/>
                </children>
                <children xmi:id="_qSMhtbXsEeaStYfdi17Bvw" type="State" element="_qSNvwLXsEeaStYfdi17Bvw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_qSMhtrXsEeaStYfdi17Bvw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_qSMht7XsEeaStYfdi17Bvw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_qSMhuLXsEeaStYfdi17Bvw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qSMhubXsEeaStYfdi17Bvw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_qSMhurXsEeaStYfdi17Bvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qSMhu7XsEeaStYfdi17Bvw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_qSMhvLXsEeaStYfdi17Bvw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_qSMhvbXsEeaStYfdi17Bvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_qSMhvrXsEeaStYfdi17Bvw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qSMhv7XsEeaStYfdi17Bvw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qSMhwLXsEeaStYfdi17Bvw" x="23" y="87" width="199" height="105"/>
                </children>
                <children xmi:id="_yXAsoLXsEeaStYfdi17Bvw" type="State" element="_yXAFkLXsEeaStYfdi17Bvw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_yXAspLXsEeaStYfdi17Bvw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_yXAspbXsEeaStYfdi17Bvw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_yXAsprXsEeaStYfdi17Bvw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_yXAsp7XsEeaStYfdi17Bvw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_yXAsqLXsEeaStYfdi17Bvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yXAsqbXsEeaStYfdi17Bvw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_yXAsqrXsEeaStYfdi17Bvw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_yXAsobXsEeaStYfdi17Bvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_yXAsorXsEeaStYfdi17Bvw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_yXAsq7XsEeaStYfdi17Bvw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_yXAso7XsEeaStYfdi17Bvw" x="23" y="-1"/>
                </children>
                <children xmi:id="_WVlP8bXxEeaStYfdi17Bvw" type="State" element="_WVko4LXxEeaStYfdi17Bvw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_WVlP9bXxEeaStYfdi17Bvw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_WVlP9rXxEeaStYfdi17Bvw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_WVlP97XxEeaStYfdi17Bvw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WVlP-LXxEeaStYfdi17Bvw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_WVlP-bXxEeaStYfdi17Bvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WVlP-rXxEeaStYfdi17Bvw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_WVlP-7XxEeaStYfdi17Bvw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_WVlP8rXxEeaStYfdi17Bvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_WVlP87XxEeaStYfdi17Bvw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_WVlP_LXxEeaStYfdi17Bvw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_WVlP9LXxEeaStYfdi17Bvw" x="383" y="231" height="96"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vFu9oLUNEeaStYfdi17Bvw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_vFu9obUNEeaStYfdi17Bvw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_vFu9orUNEeaStYfdi17Bvw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_pL71UbUJEeaStYfdi17Bvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_pL71UrUJEeaStYfdi17Bvw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_pL8cZ7UJEeaStYfdi17Bvw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_pL71U7UJEeaStYfdi17Bvw" x="70" y="172" width="645" height="482"/>
        </children>
        <children xmi:id="_s4IvYLULEeaStYfdi17Bvw" type="State" element="_s4HhQLULEeaStYfdi17Bvw">
          <children xsi:type="notation:DecorationNode" xmi:id="_s4IvZLULEeaStYfdi17Bvw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_s4IvZbULEeaStYfdi17Bvw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_s4IvZrULEeaStYfdi17Bvw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_s4IvZ7ULEeaStYfdi17Bvw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_s4IvaLULEeaStYfdi17Bvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s4IvabULEeaStYfdi17Bvw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_s4JWcLULEeaStYfdi17Bvw" type="StateFigureCompartment">
            <children xmi:id="_s4KkkLULEeaStYfdi17Bvw" type="Region" element="_s4IIUbULEeaStYfdi17Bvw">
              <children xsi:type="notation:DecorationNode" xmi:id="_s4Kkk7ULEeaStYfdi17Bvw" type="RegionName">
                <styles xsi:type="notation:ShapeStyle" xmi:id="_s4KklLULEeaStYfdi17Bvw"/>
                <layoutConstraint xsi:type="notation:Location" xmi:id="_s4KklbULEeaStYfdi17Bvw"/>
              </children>
              <children xsi:type="notation:Shape" xmi:id="_s4KklrULEeaStYfdi17Bvw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
                <children xmi:id="_N1-pcrUMEeaStYfdi17Bvw" type="State" element="_N1-CYLUMEeaStYfdi17Bvw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_N1_Qg7UMEeaStYfdi17Bvw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_N1_QhLUMEeaStYfdi17Bvw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_N1_QhbUMEeaStYfdi17Bvw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_N1_QhrUMEeaStYfdi17Bvw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_N1_Qh7UMEeaStYfdi17Bvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_N1_QiLUMEeaStYfdi17Bvw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_N1_QibUMEeaStYfdi17Bvw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_N1_QgLUMEeaStYfdi17Bvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_N1_QgbUMEeaStYfdi17Bvw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_N1_QirUMEeaStYfdi17Bvw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_N1_QgrUMEeaStYfdi17Bvw" x="75" y="34"/>
                </children>
                <children xmi:id="_Pw9IYbUMEeaStYfdi17Bvw" type="Entry" element="_Pw9IYLUMEeaStYfdi17Bvw">
                  <children xmi:id="_Pw9vcLUMEeaStYfdi17Bvw" type="BorderItemLabelContainer">
                    <children xsi:type="notation:DecorationNode" xmi:id="_Pw9vc7UMEeaStYfdi17Bvw" type="BorderItemLabel">
                      <styles xsi:type="notation:ShapeStyle" xmi:id="_Pw9vdLUMEeaStYfdi17Bvw"/>
                      <layoutConstraint xsi:type="notation:Location" xmi:id="_Pw9vdbUMEeaStYfdi17Bvw"/>
                    </children>
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_Pw9vcbUMEeaStYfdi17Bvw" fontName="Verdana" lineColor="4210752"/>
                    <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Pw9vcrUMEeaStYfdi17Bvw"/>
                  </children>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_Pw9IYrUMEeaStYfdi17Bvw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
                  <styles xsi:type="notation:NamedStyle" xmi:id="_Pw9IY7UMEeaStYfdi17Bvw" name="allowColors"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_Pw9IZLUMEeaStYfdi17Bvw" x="49" y="9"/>
                </children>
                <children xmi:id="_X10WsLUMEeaStYfdi17Bvw" type="State" element="_X1zIkLUMEeaStYfdi17Bvw">
                  <children xsi:type="notation:DecorationNode" xmi:id="_X10WtLUMEeaStYfdi17Bvw" type="StateName">
                    <styles xsi:type="notation:ShapeStyle" xmi:id="_X10WtbUMEeaStYfdi17Bvw"/>
                    <layoutConstraint xsi:type="notation:Location" xmi:id="_X10WtrUMEeaStYfdi17Bvw"/>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_X10Wt7UMEeaStYfdi17Bvw" type="StateTextCompartment">
                    <children xsi:type="notation:Shape" xmi:id="_X10WuLUMEeaStYfdi17Bvw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
                      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X10WubUMEeaStYfdi17Bvw"/>
                    </children>
                  </children>
                  <children xsi:type="notation:Compartment" xmi:id="_X10WurUMEeaStYfdi17Bvw" type="StateFigureCompartment"/>
                  <styles xsi:type="notation:ShapeStyle" xmi:id="_X10WsbUMEeaStYfdi17Bvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
                  <styles xsi:type="notation:FontStyle" xmi:id="_X10WsrUMEeaStYfdi17Bvw"/>
                  <styles xsi:type="notation:BooleanValueStyle" xmi:id="_X109wLUMEeaStYfdi17Bvw" name="isHorizontal" booleanValue="true"/>
                  <layoutConstraint xsi:type="notation:Bounds" xmi:id="_X10Ws7UMEeaStYfdi17Bvw" x="201" y="106"/>
                </children>
                <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s4Kkl7ULEeaStYfdi17Bvw"/>
              </children>
              <styles xsi:type="notation:ShapeStyle" xmi:id="_s4KkkbULEeaStYfdi17Bvw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s4KkkrULEeaStYfdi17Bvw"/>
            </children>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_s4IvYbULEeaStYfdi17Bvw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_s4IvYrULEeaStYfdi17Bvw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_s4JWcbULEeaStYfdi17Bvw" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_s4IvY7ULEeaStYfdi17Bvw" x="70" y="675" width="397" height="249"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_akQaQbUJEeaStYfdi17Bvw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_aj8RMbUJEeaStYfdi17Bvw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_akRBULUJEeaStYfdi17Bvw" x="351" y="10" width="751" height="960"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_akfDwLUJEeaStYfdi17Bvw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_akfDwrUJEeaStYfdi17Bvw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_akfDw7UJEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_akfDxLUJEeaStYfdi17Bvw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_akfDxbUJEeaStYfdi17Bvw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_akfDxrUJEeaStYfdi17Bvw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_akfq0LUJEeaStYfdi17Bvw" x="10" y="10" width="333" height="400"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_aj2KkbUJEeaStYfdi17Bvw"/>
    <edges xmi:id="_akecsLUJEeaStYfdi17Bvw" type="Transition" element="_akY9ILUJEeaStYfdi17Bvw" source="_akSPcbUJEeaStYfdi17Bvw" target="_akV50LUJEeaStYfdi17Bvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_akectLUJEeaStYfdi17Bvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_akectbUJEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_akectrUJEeaStYfdi17Bvw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_akecsbUJEeaStYfdi17Bvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_akecs7UJEeaStYfdi17Bvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_akecsrUJEeaStYfdi17Bvw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_y17OYLUJEeaStYfdi17Bvw" type="Transition" element="_y16AQLUJEeaStYfdi17Bvw" source="_akV50LUJEeaStYfdi17Bvw" target="_pL71ULUJEeaStYfdi17Bvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_y171cbUJEeaStYfdi17Bvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_y171crUJEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_y171c7UJEeaStYfdi17Bvw" x="-13" y="-62"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_y17OYbUJEeaStYfdi17Bvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_y171cLUJEeaStYfdi17Bvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_y17OYrUJEeaStYfdi17Bvw" points="[4, 0, -83, -80]$[42, 0, -45, -80]$[79, 67, -8, -13]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_CA4DsLUMEeaStYfdi17Bvw" id="(0.9215686274509803,0.5283018867924528)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_y1-RsLUJEeaStYfdi17Bvw" id="(0.1806615776081425,0.0)"/>
    </edges>
    <edges xmi:id="_9jCmcLULEeaStYfdi17Bvw" type="Transition" element="_9jAKMLULEeaStYfdi17Bvw" source="_pL71ULUJEeaStYfdi17Bvw" target="_s4IvYLULEeaStYfdi17Bvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_9jCmdLULEeaStYfdi17Bvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_9jCmdbULEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_9jDNgLULEeaStYfdi17Bvw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_9jCmcbULEeaStYfdi17Bvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_9jCmc7ULEeaStYfdi17Bvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_9jCmcrULEeaStYfdi17Bvw" points="[11, 253, -4, -98]$[16, 351, 1, 0]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9jD0kLULEeaStYfdi17Bvw" id="(0.11704834605597965,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_9jD0kbULEeaStYfdi17Bvw" id="(0.17412935323383086,0.004016064257028112)"/>
    </edges>
    <edges xmi:id="_QhbjELUMEeaStYfdi17Bvw" type="Transition" element="_QhaU8LUMEeaStYfdi17Bvw" source="_Pw9IYbUMEeaStYfdi17Bvw" target="_N1-pcrUMEeaStYfdi17Bvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_QhbjFLUMEeaStYfdi17Bvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_QhbjFbUMEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_QhbjFrUMEeaStYfdi17Bvw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_QhbjEbUMEeaStYfdi17Bvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_QhbjE7UMEeaStYfdi17Bvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_QhbjErUMEeaStYfdi17Bvw" points="[3, 7, -26, -62]$[30, 67, 1, -2]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_QhcxMLUMEeaStYfdi17Bvw" id="(0.10909090909090909,0.05660377358490566)"/>
    </edges>
    <edges xmi:id="_eCpsYLUMEeaStYfdi17Bvw" type="Transition" element="_eCpFULUMEeaStYfdi17Bvw" source="_N1-pcrUMEeaStYfdi17Bvw" target="_X10WsLUMEeaStYfdi17Bvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_eCpsZLUMEeaStYfdi17Bvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_eCpsZbUMEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_eCpsZrUMEeaStYfdi17Bvw" x="-55" y="39"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_eCpsYbUMEeaStYfdi17Bvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_eCpsY7UMEeaStYfdi17Bvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_eCpsYrUMEeaStYfdi17Bvw" points="[0, 4, -101, -52]$[0, 19, -101, -37]$[91, 53, -10, -3]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eCqTcLUMEeaStYfdi17Bvw" id="(0.7090909090909091,0.9245283018867925)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_eCqTcbUMEeaStYfdi17Bvw" id="(0.11702127659574468,0.6037735849056604)"/>
    </edges>
    <edges xmi:id="_IBiwMLUNEeaStYfdi17Bvw" type="Transition" element="_IBhiELUNEeaStYfdi17Bvw" source="_X10WsLUMEeaStYfdi17Bvw" target="_N1-pcrUMEeaStYfdi17Bvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_IBiwNLUNEeaStYfdi17Bvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_IBiwNbUNEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_IBiwNrUNEeaStYfdi17Bvw" x="-58" y="25"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_IBiwMbUNEeaStYfdi17Bvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_IBiwM7UNEeaStYfdi17Bvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_IBiwMrUNEeaStYfdi17Bvw" points="[0, 0, 141, 48]$[0, -18, 141, 30]$[-116, -43, 25, 5]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_IBj-ULUNEeaStYfdi17Bvw" id="(0.4574468085106383,0.0)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_J-dv4LUNEeaStYfdi17Bvw" id="(0.8909090909090909,0.2641509433962264)"/>
    </edges>
    <edges xmi:id="_meMoYLXoEeaStYfdi17Bvw" type="Transition" element="_meLaQLXoEeaStYfdi17Bvw" source="_qSMhtbXsEeaStYfdi17Bvw" target="_kEwEwLXoEeaStYfdi17Bvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_meMoZLXoEeaStYfdi17Bvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_meMoZbXoEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_meMoZrXoEeaStYfdi17Bvw" x="-1" y="-12"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_meMoYbXoEeaStYfdi17Bvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_meMoY7XoEeaStYfdi17Bvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_meMoYrXoEeaStYfdi17Bvw" points="[22, 2, -161, -19]$[184, 3, 1, -18]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_meN2gLXoEeaStYfdi17Bvw" id="(0.9565217391304348,0.2830188679245283)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_meN2gbXoEeaStYfdi17Bvw" id="(0.0196078431372549,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_wzqAULXoEeaStYfdi17Bvw" type="Transition" element="_wzpZQLXoEeaStYfdi17Bvw" source="_kEwEwLXoEeaStYfdi17Bvw" target="_qSMhtbXsEeaStYfdi17Bvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_wzqAVLXoEeaStYfdi17Bvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wzqAVbXoEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wzqAVrXoEeaStYfdi17Bvw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wzqAUbXoEeaStYfdi17Bvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wzqAU7XoEeaStYfdi17Bvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wzqAUrXoEeaStYfdi17Bvw" points="[0, 10, 165, 4]$[-160, 10, 5, 4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wzqnYLXoEeaStYfdi17Bvw" id="(0.029411764705882353,0.7021276595744681)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wzrOcLXoEeaStYfdi17Bvw" id="(0.9710144927536232,0.7169811320754716)"/>
    </edges>
    <edges xmi:id="_Y6vYgLXqEeaStYfdi17Bvw" type="Transition" element="_Y6uxcLXqEeaStYfdi17Bvw" source="_JtPJAbXpEeaStYfdi17Bvw" target="_yXAsoLXsEeaStYfdi17Bvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Y6vYhLXqEeaStYfdi17Bvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Y6vYhbXqEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Y6vYhrXqEeaStYfdi17Bvw" x="222" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Y6vYgbXqEeaStYfdi17Bvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Y6vYg7XqEeaStYfdi17Bvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Y6vYgrXqEeaStYfdi17Bvw" points="[4, 6, -89, -129]$[91, 134, -2, -1]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Y6v_kLXqEeaStYfdi17Bvw" id="(0.964824120603015,0.20754716981132076)"/>
    </edges>
    <edges xmi:id="_qSRaILXsEeaStYfdi17Bvw" type="Transition" element="_qSNvw7XsEeaStYfdi17Bvw" source="_qSMhtbXsEeaStYfdi17Bvw" target="_qSMhqbXsEeaStYfdi17Bvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qSRaJLXsEeaStYfdi17Bvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qSRaJbXsEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qSRaJrXsEeaStYfdi17Bvw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qSRaIbXsEeaStYfdi17Bvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qSRaI7XsEeaStYfdi17Bvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qSRaIrXsEeaStYfdi17Bvw" points="[0, 0, 0, 0]$[0, 0, 0, 0]"/>
    </edges>
    <edges xmi:id="_qSRaJ7XsEeaStYfdi17Bvw" type="Transition" element="_qSNIsrXsEeaStYfdi17Bvw" source="_qSMhqbXsEeaStYfdi17Bvw" target="_qSMhoLXsEeaStYfdi17Bvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_qSRaK7XsEeaStYfdi17Bvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qSRaLLXsEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qSRaLbXsEeaStYfdi17Bvw" x="-3" y="-76"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qSRaKLXsEeaStYfdi17Bvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qSRaKrXsEeaStYfdi17Bvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qSRaKbXsEeaStYfdi17Bvw" points="[3, 3, 0, 0]$[2, 2, -1, -1]"/>
    </edges>
    <edges xmi:id="_2VZNwLXsEeaStYfdi17Bvw" type="Transition" element="_2VX_oLXsEeaStYfdi17Bvw" source="_yXAsoLXsEeaStYfdi17Bvw" target="_qSMhtbXsEeaStYfdi17Bvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_2VZNxLXsEeaStYfdi17Bvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_2VZNxbXsEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_2VZNxrXsEeaStYfdi17Bvw" x="-10" y="-23"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_2VZNwbXsEeaStYfdi17Bvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_2VZNw7XsEeaStYfdi17Bvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_2VZNwrXsEeaStYfdi17Bvw" points="[0, 0, 165, -26]$[-162, 2, 3, -24]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_2Vab4LXsEeaStYfdi17Bvw" id="(0.457286432160804,0.8490566037735849)"/>
    </edges>
    <edges xmi:id="_Z4Bb8LXxEeaStYfdi17Bvw" type="Transition" element="_Z4AN0LXxEeaStYfdi17Bvw" source="_qSMhqbXsEeaStYfdi17Bvw" target="_WVlP8bXxEeaStYfdi17Bvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_Z4Bb9LXxEeaStYfdi17Bvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_Z4Bb9bXxEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_Z4Bb9rXxEeaStYfdi17Bvw" x="2" y="-13"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_Z4Bb8bXxEeaStYfdi17Bvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_Z4Bb87XxEeaStYfdi17Bvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_Z4Bb8rXxEeaStYfdi17Bvw" points="[152, 14, -166, -14]$[319, 0, 1, -28]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Z4CDALXxEeaStYfdi17Bvw" id="(0.9798994974874372,0.21875)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_Z4CDAbXxEeaStYfdi17Bvw" id="(0.007751937984496124,0.3125)"/>
    </edges>
    <edges xmi:id="_djhdULXxEeaStYfdi17Bvw" type="Transition" element="_djgPMLXxEeaStYfdi17Bvw" source="_WVlP8bXxEeaStYfdi17Bvw" target="_qSMhqbXsEeaStYfdi17Bvw">
      <children xsi:type="notation:DecorationNode" xmi:id="_djhdVLXxEeaStYfdi17Bvw" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_djhdVbXxEeaStYfdi17Bvw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_djhdVrXxEeaStYfdi17Bvw" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_djhdUbXxEeaStYfdi17Bvw" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_djhdU7XxEeaStYfdi17Bvw" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_djhdUrXxEeaStYfdi17Bvw" points="[-45, 12, 175, -45]$[-215, 91, 5, 34]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_djircLXxEeaStYfdi17Bvw" id="(0.007751937984496124,0.8020833333333334)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_djircbXxEeaStYfdi17Bvw" id="(0.9849246231155779,0.8125)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
